
.form-search  {
            text-align: center;
            position: fixed;
            top: 3%;
            left: 25%;
            width: 50%;
}

.form-search input[type="text"] {
             margin: 5px;
	         border-radius: 25px;
	         height: 44px;
	         width: 75%;
             background-color: #eee;
             font-size: 20px;
             border: 5px solid green;
             outline: none;
             border-style: double;
}
.
}

.form-search img[src="logo.jpg"] {
              margin: 10px;
              border-radius: 5px;
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
}


.camera {
              margin: 10px;
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: auto;
}

div {
     text-align:right;
     padding:10px;
     margin:10px;
}

p {
    overflow: hidden;
    bottom: 0;
    position: absolute;
    width: 97%;
    color:black;
    text-decoration: overline;
    text-decoration-color: red;
    font-family:Comic Sans MS ,sans-serif;
}

button {
    border-radius: 12px;
    border: 2px solid grey;
}
